

.carousel-inner {
    height: 90vh;
}

.slider-img {
    height: 100% !important;
    object-fit: cover;
}
@media only screen and (max-width:724px) {
    .carousel-inner {
        height: 100% !important;
    }

    .slider-img {
        height: 500px !important;
    }

    .slider-img img {
        height: 500px !important;
    }
}
.announcements-panel {
    background-color: #f8f9fa;
    border-left: 5px solid #007bff;
    padding: 10px;
}
.logo {
    width: 50px;
    height: auto;
}